@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-heading);
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-border-hover);
  }
}
